doctype html
html
  head
    meta(charset="utf-8")
    title xxx 
    link(href="dist/css/base.css" rel="stylesheet") 
  body
    header
      | 这是头部

    block con

    footer
      | 这是底部

    script(src="dist/js/main.js")